extends layout_invert_blog

block css
    link(rel='stylesheet' href='/css/blog.css')

block content
    section.blog-hero.blog-hero--post
        .container
            span.blog-hero-kicker= post.tags.length ? post.tags[0].trim() : 'Blog'
            h1.blog-hero-title= post.title
            .blog-meta
                span.meta-item
                    i.fa-solid.fa-calendar-days
                    |  #{post.createdAt.toLocaleDateString("en-US")}
                span.meta-item
                    i.fa-solid.fa-eye
                    |  #{post.viewCount || 0} views

    section.blog-post-layout
        .container
            .row.g-4
                .col-lg-8
                    article.blog-post-card
                        if post.coverImage
                            figure.post-cover
                                img(src=`/blog/images/${post.coverImage}` alt=post.title)
                        .post-body
                            if post.tags.length
                                ul.blog-card-tags.mb-4
                                    each tag in post.tags
                                        li.blog-card-tag ##{tag.trim()}
                            .blog-content!= htmlContent
                .col-lg-4
                    aside.blog-sidebar
                        .sidebar-card
                            h3.sidebar-title Other Articles
                            if recommendedPosts && recommendedPosts.length
                                each item in recommendedPosts
                                    a.recommended-card(href=`/blog/${item.slug}`)
                                        if item.coverImage
                                            .recommended-thumbnail
                                                img(src=`/blog/images/${item.coverImage}` alt=item.title)
                                        .recommended-card-body
                                            h4.recommended-title= item.title
                                            span.recommended-meta
                                                i.fa-solid.fa-eye
                                                |  #{item.viewCount || 0} views · #{item.createdAt.toLocaleDateString("en-US")}
                            else
                                p.sidebar-empty No other recommendations for now.