extends layout_invert_blog

block css
  link(rel='stylesheet' href='/css/blog.css')

block content
    section.blog-hero
        .container
            h1.blog-hero-title İlham Veren Yazılar
            p.blog-hero-subtitle Seyahat macerana eşlik edecek güncel ipuçları, hikâyeler ve rehberler.

    section.blog-listing
        .container
            if posts.length
                .row.g-4
                    each post in posts
                        .col-md-6.col-lg-4
                            article.blog-card.h-100
                                if post.coverImage
                                    a.blog-card-cover(href=`/blog/${post.slug}`)
                                        img(src=`/blog/images/${post.coverImage}` alt=post.title)
                                .blog-card-body
                                    span.blog-card-date= post.createdAt.toLocaleDateString("tr-TR")
                                    h2.blog-card-title
                                        a(href=`/blog/${post.slug}`)= post.title
                                    if post.description
                                        p.blog-card-excerpt= post.description
                                .blog-card-footer
                                    .blog-card-meta
                                        span.meta-item
                                            i.fa-solid.fa-eye
                                            |  #{post.viewCount || 0} okunma
                                    if post.tags.length
                                        ul.blog-card-tags
                                            each tag in post.tags
                                                li.blog-card-tag ##{tag.trim()}
            else
                .empty-state
                    h2 Henüz blog yazısı bulunmuyor.
                    p Yeni yazılar için takipte kalın!